<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <!-- Строка подключения для EF Core -->
  <appSettings>
    <add key="DatabaseProvider" value="MySql"/>
    <add key="ConnectionString" value="Server=localhost;Port=3306;Database=hotel_crm;Uid=root;Pwd=root;"/>
  </appSettings>

</configuration>